eta-stack/nodered/data/flows.json
[
  { "id":"a1","type":"tab","label":"ETA Ingest" },

  { "id":"inject-5s","type":"inject","z":"a1","name":"Tick 5s",
    "props":[{"p":"payload"}],"repeat":"5","once":true,"onceDelay":"1",
    "payloadType":"date","x":140,"y":120,"wires":[["func-build"]] },

  { "id":"func-build","type":"function","z":"a1","name":"Gera leitura simulada",
    "func":"const site=\"PLANTA_A\";const tags=[{tag:\"ETA.TURB_OUT.NTU\",unit:\"NTU\",min:0.1,max:1.5},{tag:\"UF.TMP.BAR\",unit:\"bar\",min:0.4,max:0.9},{tag:\"RO.RECOVERY.PCT\",unit:\"%\",min:65,max:78}];function rnd(min,max){return +(Math.random()*(max-min)+min).toFixed(3);}const rows=tags.map(t=>({site,tag:t.tag,value:rnd(t.min,t.max),unit:t.unit,extra:{sim:true}}));let valuesSql=rows.map((r,i)=>`($${i*5+1}::text,$${i*5+2}::text,$${i*5+3}::float8,$${i*5+4}::text,$${i*5+5}::jsonb)`).join(\",\");let params=[];rows.forEach(r=>{params.push(r.site,r.tag,r.value,r.unit,JSON.stringify(r.extra));});msg.query=`INSERT INTO measurements (site, tag, value, unit, extra) VALUES ${valuesSql};`;msg.params=params;return msg;",
    "outputs":1,"x":380,"y":120,"wires":[["pg-out"]] },

  { "id":"pg-out","type":"postgres","z":"a1","name":"Postgres INSERT",
    "postgreSQLConfig":"pg-cred","x":640,"y":120,"wires":[["debug-ok"]] },

  { "id":"debug-ok","type":"debug","z":"a1","name":"OK","active":true,
    "tosidebar":true,"complete":"true","x":850,"y":120,"wires":[] },

  { "id":"pg-cred","type":"postgres-config","hostname":"db","port":"5432",
    "db":"eta","ssl":false,"max":"10","user":"eta_user","password":"eta_pwd" }
]
